{% extends "layout.html" %} {% block content %}

    <div class="container">
      <h1>Polls</h1>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">poll_id</th>
              <th scope="col">poll_title</th>
              <th scope="col">poll_type</th>
              <th scope="col">poll_voting_choices</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>which bean?</td>
              <td>single_transferable</td>
              <td>[lima, fava, pinto]</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>elect the group leader</td>
              <td>popular</td>
              <td>[andrew chong, sebastian allen]</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>which is better</td>
              <td>ranked_choice</td>
              <td>[the wheel, sliced bread, fire, science]</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>test question</td>
              <td>popular</td>
              <td>[1, 2, 3, 4, 5]</td>
            </tr>
          </tbody>
        </table>
     </div>


    <div>
        <form>
          <h3>Create New Poll</h3>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">poll_id</th>
                <th scope="col">poll_title</th>
                <th scope="col">poll_type</th>
                <th scope="col">poll_voting_choices</th>
              </tr>
              <tbody>
                <tr>
                  <th scope="row"><i>auto incremented</i></th>
                  <td>
                    <div class="mb-3">
                        <label for="polls-create-poll-title" class="form-label mb-3">poll_title</label>
                        <input type="text" class="form-control" id="polls-create-poll-title" aria-describedby="create-poll-title-help" placeholder="Ex: yes or no?"> <!-- not sure what 'type' to use here-->
                        <div id="create-poll-title-help" class="form-text">varchar</div>
                    </div>
                  </td>
                  <td>
                    <div class="mb-3">
                      <label for="polls-create-poll-type" class="form-label mb-3">poll_type</label>
                      <select class="form-select" id="polls-create-poll-type" aria-label="create poll type">
                        <option selected>Poll Type</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
                        <option value="1">popular</option> <!--some such select menus will need a null option, this one does not, as no vote will be without a poll-->
                        <option value="2">ranked_choice</option>
                        <option value="3">single_transferable</option>
                        <option value="4">more may be added</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="mb-3">
                      <label for="polls-create-poll-voting-choices" class="form-label mb-3">poll_voting_choices</label>
                      <input type="text" class="form-control" id="polls-create-poll-voting-choices" aria-describedby="create-poll-voting-choices-help" placeholder="Ex: &quot;option 1&quot; AND &quot;option2&quot;"> <!-- not sure what 'type' to use here-->
                      <div id="create-poll-voting-choices-help" class="form-text">json</div>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
          </form>
        
  
          <button type="submit" class="btn btn-primary">Create New Poll</button>
        </form>
        </div>


        <div>
        <form>
          <h3>Delete a Poll</h3>
          <div class="btn-group"> <!--class button-group changes the width, if theres a better way, you can update this-->
              <select class="form-select" aria-label="Delete Poll ID">
                <option selected>Poll ID</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">Poll 1</option>
                <option value="2">Poll 2</option>
                <option value="3">Poll 3</option>
                <option value="4">Poll 4</option>
              </select>
          </div>

          <button type="submit" class="btn btn-primary">Delete</button><!--dont know about type here-->
        </form>    
      </div>
        
<div>
        <form>
          <h3>Search Polls</h3>
          <div class="btn-group"> <!--class button-group changes the width of the folllowing selects, if theres a better way, you can update this-->
            <select class="form-select" aria-label="Search Poll ID">
              <option selected>Poll ID</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
              <option value="1">Poll 1</option>
              <option value="2">Poll 2</option>
              <option value="3">Poll 3</option>
              <option value="4">Poll 4</option>
            </select>
            <select class="form-select" aria-label="Search Poll Title">
              <option selected>Poll Title</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
              <option value="1">which bean?</option>
              <option value="2">elect the group leader</option>
              <option value="3">which is better</option>
              <option value="4">test question</option>
            </select>
            <select class="form-select" aria-label="Search Poll Type">
              <option selected>Poll Type</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
              <option value="1">popular</option>
              <option value="2">ranked_choice</option>
              <option value="3">single_transferable</option>
              <option value="4">more may be added</option>
            </select>
          </div>
          <label for="poll-values-search">poll_voting_choices: </label>
          <input type="text" style="display: inline; width: 20%; padding-bottom:9px;" class="form-control" id="poll-values-search" placeholder="Ex: &quot;option 1&quot; AND &quot;option2&quot;"> <!-- not sure what 'type' to use here--> <!--style part was just to make it inline, if you know a better way you can update, or just add this part to the css-->
        </div>

          <button type="submit" class="btn btn-primary">Search</button><!--dont know about type here-->
        </form>
        <form>
          <h3>Update a Poll</h3>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">poll_id</th>
                <th scope="col">poll_title</th>
                <th scope="col">poll_type</th>
                <th scope="col">poll_voting_choices</th>
              </tr>
              <tbody>
                <tr>
                  <td>
                    <div class="mb-3">
                      <label for="polls-update-poll-id" class="form-label mb-3">select poll_id to be updated</label>
                      <select class="form-select" id="poll-update-poll-id" aria-label="Update Poll ID">
                        <option selected>Poll ID</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
                        <option value="1">Poll 1</option>
                        <option value="2">Poll 2</option>
                        <option value="3">Poll 3</option>
                        <option value="4">Poll 4</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="mb-3">
                        <label for="polls-update-poll-title" class="form-label mb-3">update to poll_title</label>
                        <input type="text" class="form-control" id="polls-update-poll-title" aria-describedby="update-poll-title-help" placeholder="Ex: yes or no?"> <!-- not sure what 'type' to use here-->
                        <div id="update-poll-title-help" class="form-text">varchar</div>
                    </div>
                  </td>
                  <td>
                    <div class="mb-3">
                      <label for="polls-update-poll-type" class="form-label mb-3">update to poll_type</label>
                      <select class="form-select" id="polls-update-poll-type" aria-label="update poll type">
                        <option selected>No Update</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
                        <option value="1">popular</option> <!--some such select menus will need a null option, this one does not, as no vote will be without a poll-->
                        <option value="2">ranked_choice</option>
                        <option value="3">single_transferable</option>
                        <option value="4">more may be added</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="mb-3">
                      <label for="polls-update-poll-voting-choices" class="form-label mb-3">update to poll_voting_choices</label>
                      <input type="text" class="form-control" id="polls-update-poll-voting-choices" aria-describedby="update-poll-voting-choices-help" placeholder="Ex: &quot;option 1&quot; AND &quot;option2&quot;"> <!-- not sure what 'type' to use here-->
                      <div id="update-poll-voting-choices-help" class="form-text">json</div>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
    
          <button type="submit" class="btn btn-primary">Update Poll</button>
        </form>

    </div>
    

</div>
{% endblock %}
