<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='assets/img/favicon.ico')}}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{url_for('static', filename='assets/img/favicon-32x32.png')}}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{url_for('static', filename='assets/img/favicon-16x16.png')}}"
    />
    <link
      rel="manifest"
      href="{{url_for('static', filename='assets/img/site.webmanifest')}}"
    />

    <link
      rel="icon"
      type="image/svg+xml"
      href="{{url_for('static', filename='assets/img/favicon.svg')}}"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/images/{{url_for('static', filename='assets/img/favicon.png')}}"
    />

    <title>{% block page_title %} votr-flask {% endblock %}</title>
    <meta
      name="description"
      content="{% block meta_description %}{% endblock %}"
    />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />

    {% block css %}

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width" />

    <!-- Bootswatch Darkly + Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='assets/css/bootswatch.css') }}"
    />

    <!-- Votr CSS -->
    <link
      href="{{ url_for('static', filename='assets/css/styles.css') }}"
      type="text/css"
      rel="stylesheet"
    />

    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %} {% include "nav.html" %}

    <header>{% block header %}{% endblock %}</header>
    <main role="main">
      <div class="d-grid gap-5 col-8 mx-auto pt-5 pb-5">
        {% block content %}{% endblock %}
      </div>
    </main>

    {% include "footer.html" %}

    <!-- JavaScript at the bottom for fast page loading -->

    {% block js %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="{{url_for('static', filename='assets/js/jquery-3.6.0.min.js') }}"></script>

    <script src="{{url_for('static', filename='assets/js/votr.js') }}"></script>

    <script src="{{url_for('static', filename='assets/js/list.min.js') }}"></script>

    {% endblock %}

    <!-- end scripts -->
    {% endblock %}
  </body>
</html>
