{% extends "layout.html" %}{% block content %}

  <div class="container">
    <div class="alert alert-light">
      <h1>Payments</h1> 
      <p>a payment made by an end user of Votr.</p>
    </div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">payment_id</th>
            <th scope="col">user_id</th>
            <th scope="col">amount_usd</th>
            <th scope="col">payment_purposes</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in all_payments %}
    
          <tr>
            <th scope="row">{{ payment["payment_id"] }}</th>
            <td>{{ payment["user_id"] }}</td>
            <td>{{ payment["amount_usd"] }}</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "test" in payment["payment_purposes"] %}
                checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  test
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "free_trial" in payment["payment_purposes"] %}
                checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  free trial
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "subscription" in payment["payment_purposes"] %}
                checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  subscription
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "donation" in payment["payment_purposes"]
                %} checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  donation
                </label>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="container">
      <form>
        <h3>Add New Payment</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">payment_id</th>
              <th scope="col">user_id</th>
              <th scope="col">amount_usd</th>
              <th scope="col">payment_purposes</th>
            </tr>
            <tbody>
              <tr>
                <th scope="row"><i>auto incremented</i></th>
                
                <td>
                  <div class="mb-3">
                    <!--TODO: get auto populating-->
                    <!-- USER ID LABEL -->
                    {{ add_new_payment_form.user_id.label(class="form-label mb-3") }}
                    <!-- USER ID FIELD -->
                    {{ add_new_payment_form.user_id( class="form-select")}}
                    <div id="create-user_id-help" class="form-text">FK</div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <!-- AMOUNT USD LABEL -->
                    {{ add_new_payment_form.amount_usd.label(class="form-label mb-3")
                    }}
                    <!-- AMOUNT USD FIELD -->
                    {{ add_new_payment_form.amount_usd( class="form-control",
                    placeholder="Ex: 2.50") }}
                    <div id="create-amount_usd-help" class="form-text">
                      decimal
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-check">
                    <!-- FIELD -->
                    {{add_new_payment_form.payment_purposes_test(class="form-check")}}
                    <!-- LABEL -->
                    {{ add_new_payment_form.payment_purposes_test.label }}
                  </div>
                  <div class="form-check">
                    <!-- FIELD -->
                    {{add_new_payment_form.payment_purposes_free_trial(class="form-check")}}
                    <!-- LABEL -->
                    {{ add_new_payment_form.payment_purposes_free_trial.label }}
                  </div>
                  <div class="form-check">
                    <!-- FIELD -->
                    {{add_new_payment_form.payment_purposes_subscription(class="form-check")}}
                    <!-- LABEL -->
                    {{ add_new_payment_form.payment_purposes_subscription.label }}
                  </div>
                  <div class="form-check">
                    <!-- FIELD -->
                    {{add_new_payment_form.payment_purposes_donation(class="form-check")}}
                    <!-- LABEL -->
                    {{ add_new_payment_form.payment_purposes_donation.label }}
                  </div>
                  <div id="payments-payment_purposes-help" class="form-text">set</div>
                </td>
              </tr>
            </tbody>
        </table>
  
        <button type="submit" class="btn btn-primary">Create New Payment</button>
      </form>
    </div>

    <div class="container">
      <form>
        <h3>Delete a Payment</h3>
        <div class="btn-group"> <!--class button-group changes the width, if theres a better way, you can update this-->
            <select name="delete-payment-by-id" class="form-select" aria-label="Delete Payment ID">
              <option selected>Payment ID</option>
              <!--i dont know how wer are going to have this automatically populate with the available id's-->
              {% for payment in all_payments %}
              <option value="{{ payment["payment_id"] }}">{{ payment["payment_id"] }}</option>
              {% endfor %}
            </select>
      

        <button type="submit" class="btn btn-primary">Delete</button><!--dont know about type here-->
      </form>
      </div>
    </div>

    <div class="container">
      <form>
        <h3>Search Payments</h3>
        <div class="btn-group">
          <select name="delete-payment-by-id" class="form-select" aria-label="Delete Payment ID">
            <option selected>Payment ID</option>
            {% for payment in all_payments %}
            <option value="{{ payment["payment_id"] }}">{{ payment["payment_id"] }}</option>
            {% endfor %}
          </select>
        <button type="submit" class="btn btn-primary">Search</button><!--dont know about type here-->
      </form>
    </div>


    <div class="container">
      <form>
        <h3>Update a Payment</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">payment_id</th>
              <th scope="col">user_id</th>
              <th scope="col">amount_usd</th>
              <th scope="col">payment_purposes</th>
            </tr>
            <tbody>
              <tr>
                <td>
                  <div class="mb-3">
                    <label for="payments-update-payment-id" class="form-label mb-3">select payment_id to be updated</label>
                    <select class="form-select" id="payment-update-payment-id" aria-label="Update Payment ID">
                      <option selected>Payment ID</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
                      <option value="1">Payment 1</option>
                      <option value="2">Payment 2</option>
                      <option value="3">Payment 3</option>
                      <option value="4">Payment 4</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label for="payments-update-payment-user-id" class="form-label mb-3">update to user_id</label>
                    <select class="form-select" id="payments-update-payment-user-id" aria-describedby="update-user-id-help" aria-label="update User ID">
                      <option selected>No Update</option> <!--i dont know how wer are going to have this automatically populate with the available id's-->
                      <option value="0">NULL</option>
                      <option value="1">User 1</option> <!--some such select menus will need a null option, this one does not, as no vote will be without a poll-->
                      <option value="2">User 2</option>
                      <option value="3">User 3</option>
                      <option value="4">User 4</option>
                    </select>
                    <div id="update-user-id-help" class="form-text">Relationship Nullable</div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label for="payments-update-amount-usd" class="form-label mb-3">update to amount_usd</label>
                    <input type="text" class="form-control" id="payments-update-amount-usd" aria-describedby="update-amount-usd-help" placeholder="Ex: 1.20"> <!-- not sure what 'type' to use here-->
                    <div id="update-amount-usd-help" class="form-text">decimal</div>
                  </div>
                </td>
                <td>
                  <div class="mb-3">
                    <label for="payments-update-payment-purposes" class="form-label mb-3">update to payment_purposes</label>
                    
                      <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        test
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        free trial
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        subscription
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        donation
                      </label>
                    </div>
                    <div id="update-payment-purposes-help" class="form-text">set</div>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
  
        <button type="submit" class="btn btn-primary">Update Payment</button>
      </form>
  </div>


{% endblock %}