{% extends "layout.html" %}{% block content %}

  <div class="container">
    <div class="alert alert-light">
      <h1>Payments</h1> 
      <p>a payment made by an end user of Votr.</p>
    </div>
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">payment_id</th>
            <th scope="col">user_id</th>
            <th scope="col">amount_usd</th>
            <th scope="col">payment_purposes</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in all_payments %}
    
          <tr>
            <th scope="row">{{ payment["payment_id"] }}</th>
            <td>
              {% if payment.user_id %}
                {{ payment.user_id }}
              {% else %}
                NULL
              {% endif %}</td>
            <td>{{ payment["amount_usd"] }}</td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "test" in payment["payment_purposes"] %}
                checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  test
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "free_trial" in payment["payment_purposes"] %}
                checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  free trial
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "subscription" in payment["payment_purposes"] %}
                checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  subscription
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault" {% if "donation" in payment["payment_purposes"]
                %} checked="" {% endif %} disabled />
                <label class="form-check-label" for="flexCheckDefault">
                  donation
                </label>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    <div>
      <form name="add-new-payment" method="POST" action="/add_new_payment">
        {{ add_new_payment_form.csrf_token }}
        <h3>Add New Payment</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">payment_id</th>
              <th scope="col">user_id</th>
              <th scope="col">amount_usd</th>
              <th
                scope="col"
                data-toggle="tooltip"
                data-placement="top"
                title="payment's purposes"
              >
                payment_purposes
              </th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <th scope="row"><i>auto incremented</i></th>
              <td>
                <div class="mb-3 form-group row">
                <div class="mb-3">
                  <!-- user_id LABEL -->
                  {{ add_new_payment_form.user_id.label(class="form-label") }}
                  <!-- user_id FIELD -->
                  {{ add_new_payment_form.user_id(class="form-control" ) }}
                  <div id="create-user_id-help" class="form-text">FK</div>
                </div>
              </td>
              <td>
                <div class="mb-3 form-group row">
                  <!-- amount_usd LABEL -->
                  {{ add_new_payment_form.amount_usd.label(class="form-label")
                  }}
                  <!-- amount_usd FIELD -->
                  {{ add_new_payment_form.amount_usd( class="form-control",
                  placeholder="Ex: 5.99") }}
                  <div id="create-amount_usd-help" class="form-text">
                    decimal
                  </div>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <!-- FIELD -->
                  {{add_new_payment_form.payment_purposes_test(class="form-check-input")}}
                  <!-- LABEL -->
                  {{ add_new_payment_form.payment_purposes_test.label(name="test", class="form-check-label") }}
                </div>
                <div class="form-check">
                  <!-- FIELD -->
                  {{add_new_payment_form.payment_purposes_free_trial(class="form-check-input" )}}
                  <!-- LABEL -->
                  {{ add_new_payment_form.payment_purposes_free_trial.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                  <!-- FIELD -->
                  {{add_new_payment_form.payment_purposes_subscription(class="form-check-input")}}
                  <!-- LABEL -->
                  {{ add_new_payment_form.payment_purposes_subscription.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                  <!-- FIELD -->
                  {{add_new_payment_form.payment_purposes_donation(class="form-check-input")}}
                  <!-- LABEL -->
                  {{ add_new_payment_form.payment_purposes_donation.label(class="form-check-label") }}
                </div>
                <div id="payments-payment_purposes-help" class="form-text">set</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    
        <button name="create-new-payment" type="submit" class="btn btn-primary">Create New Payment</button>
      </form>
    </div>

    <div>
      <form name="delete-payment" method="POST" action="/delete_payment">
        {{ delete_payment_form.csrf_token }}
        <h3>Delete Payment</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">payment_id</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td>
                <div class="mb-3 form-group row">
                <div class="mb-3">
                  <!-- payment_id LABEL -->
                  {{ delete_payment_form.payment_id.label(class="form-label") }}
                  <!-- payment_id FIELD -->
                  {{ delete_payment_form.payment_id(class="form-control" ) }}
                  <div id="create-payment_id-help" class="form-text">PK</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    
        <button name="delete-payment" type="submit" class="btn btn-primary">Delete Payment</button>
      </form>
    </div>

    <div>
      <form name="update-payment" method="POST" action="/update_payment">
        {{ update_payment_form.csrf_token }}
        <h3>Update Payment</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">payment_id</th>
              <th scope="col">user_id</th>
              <th scope="col">amount_usd</th>
              <th
                scope="col"
                data-toggle="tooltip"
                data-placement="top"
                title="payment's purposes"
              >
                payment_purposes
              </th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td>
                <div class="mb-3 form-group row">
                <div class="mb-3">
                  <!-- payment_id LABEL -->
                  {{ update_payment_form.payment_id.label(class="form-label") }}
                  <!-- payment_id FIELD -->
                  {{ update_payment_form.payment_id(class="form-control" ) }}
                  <div id="create-user_id-help" class="form-text">PK</div>
                </div>
              </td>
              <td>
                <div class="mb-3 form-group row">
                <div class="mb-3">
                  <!-- user_id LABEL -->
                  {{ update_payment_form.user_id.label(class="form-label") }}
                  <!-- user_id FIELD -->
                  {{ update_payment_form.user_id(class="form-control" ) }}
                  <div id="create-user_id-help" class="form-text">FK</div>
                </div>
              </td>
              <td>
                <div class="mb-3 form-group row">
                  <!-- amount_usd LABEL -->
                  {{ update_payment_form.amount_usd.label(class="form-label")
                  }}
                  <!-- amount_usd FIELD -->
                  {{ update_payment_form.amount_usd( class="form-control",
                  placeholder="Ex: 5.99") }}
                  <div id="create-amount_usd-help" class="form-text">
                    decimal
                  </div>
                </div>
              </td>
              <td>
                <div class="form-check">
                  <!-- FIELD -->
                  {{update_payment_form.payment_purposes_test(class="form-check-input")}}
                  <!-- LABEL -->
                  {{ update_payment_form.payment_purposes_test.label(name="test", class="form-check-label") }}
                </div>
                <div class="form-check">
                  <!-- FIELD -->
                  {{update_payment_form.payment_purposes_free_trial(class="form-check-input" )}}
                  <!-- LABEL -->
                  {{ update_payment_form.payment_purposes_free_trial.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                  <!-- FIELD -->
                  {{update_payment_form.payment_purposes_subscription(class="form-check-input")}}
                  <!-- LABEL -->
                  {{ update_payment_form.payment_purposes_subscription.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                  <!-- FIELD -->
                  {{update_payment_form.payment_purposes_donation(class="form-check-input")}}
                  <!-- LABEL -->
                  {{ update_payment_form.payment_purposes_donation.label(class="form-check-label") }}
                </div>
                <div id="update-payments-help" class="form-text">set</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    
        <button name="update-payment" type="submit" class="btn btn-primary">Update Payment</button>
      </form>
    </div>


{% endblock %}