{% extends "layout.html" %} {% block content %}

    <div class="container">
      <div class="alert alert-light">
        <h1>Polls</h1> 
        <p>a poll created by an end user of Votr.</p>
      </div>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">poll_id</th>
              <th scope="col">poll_title</th>
              <th scope="col">poll_type</th>
              <th scope="col">poll_voting_choices</th>
            </tr>
          </thead>
          <tbody>
            {% for poll in all_polls %}

            <tr>
              <th scope="row">{{ poll["poll_id"] }}</th>
              <td>{{ poll["poll_title"] }}</td>
              <td>{{ poll["poll_type"] }}</td>
              <td>{{ poll["poll_voting_choices"] }}</td>
            </tr>
      
            {% endfor %}
          </tbody>
        </table>
     </div>


     <div>
      <form name="add-new-poll" method="POST" action="/add_new_poll">
        {{ add_new_poll_form.csrf_token }}
        <h3>Add New Poll</h3>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">poll_id</th>
              <th scope="col">poll_title</th>
              <th scope="col"
              data-toggle="tooltip"
              data-placement="top"
              title="payment's purposes">
              poll_type
              </th>
              <th scope="col">poll_voting_choices</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <th scope="row"><i>auto incremented</i></th>
              <td>
                <div class="mb-3 form-group row">
                <div class="mb-3">
                  <!-- poll_id LABEL -->
                  {{ add_new_poll_form.poll_title.label(class="form-label") }}
                  <!-- poll_id FIELD -->
                  {{ add_new_poll_form.poll_title(class="form-control" ) }}
                  <div id="create-user_id-help" class="form-text">varchar</div>
                </div>
              </td>
              <td>
                <div class="mb-3 form-group row">
                  <!-- poll_voting_choices LABEL -->
                  {{ add_new_poll_form.poll_type.label(class="form-label")
                  }}
                  <!-- poll_voting_choices FIELD -->
                  {{ add_new_poll_form.poll_type( class="form-control") }}
                  <div id="create-amount_usd-help" class="form-text">
                    enum
                  </div>
                </div>
              </td>
              <td>
                <div class="mb-3 form-group row">
                  <!-- poll_voting_choices LABEL -->
                  {{ add_new_poll_form.poll_voting_choices.label(class="form-label")
                  }}
                  <!-- poll_voting_choices FIELD -->
                  {{ add_new_poll_form.poll_voting_choices( class="form-control", placeholder="EX: [\"option 1\", \"option 2\", \"option 3\"]") }}
                  <div id="create-amount_usd-help" class="form-text">
                    JSON Array
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    
        <button name="create-new-poll" type="submit" class="btn btn-primary">Create New Poll</button>
      </form>
    </div>
{% endblock %}
