{% extends "layout.html" %}{% block content %}

<div class="container">
  <div class="alert alert-light">
    <h1>User_Poll_Settings</h1>
    <p>
      represents the information connected between a user and a poll (e.g.
      access & permissions). This table bridges the M:M relationship between
      users and polls.
    </p>
  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">user_poll_setting_id</th>
        <th scope="col">user_id</th>
        <th scope="col">poll_id</th>
        <th
          scope="col"
          data-toggle="tooltip"
          data-placement="top"
          title="User's permissions for poll"
        >
          user_permissions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for user_poll_setting in all_user_poll_settings %}

      <tr>
        <th scope="row">{{ user_poll_setting["user_poll_setting_id"] }}</th>
        <td>{{ user_poll_setting["user_id"] }}</td>
        <td>{{ user_poll_setting["poll_id"] }}</td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "collaborator" in user_poll_setting["user_permissions"] %}
            checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              collaborator
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "poll_creator" in user_poll_setting["user_permissions"] %}
            checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              poll creator
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" 
            {% if "admin,superadmin" in user_poll_setting["user_permissions"] %}
              checked="" 
            {% elif "superadmin" in user_poll_setting["user_permissions"]  and "admin,superadmin" not in user_poll_setting["user_permissions"] %} 
            {% elif "admin" in user_poll_setting["user_permissions"] %} 
              checked="" 
            {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              admin
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "superadmin" in user_poll_setting["user_permissions"]
            %} checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              superadmin
            </label>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<div>
  <form name="add-new-user_poll_setting" method="POST" action="/add_new_user_poll_setting">
    {{ add_new_user_poll_setting_form.csrf_token }}
    <h3>Add New Setting</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_poll_setting_id</th>
          <th scope="col">user_id</th>
          <th scope="col">poll_id</th>
          <th scope="col"
          data-toggle="tooltip"
          data-placement="top"
          title="payment's purposes">user_permissions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><i>auto incremented</i></th>
          <td>
            <div class="mb-3 form-group row">
            <div class="mb-3">
              <!-- user_id LABEL -->
              {{ add_new_user_poll_setting_form.user_id.label(class="form-label") }}
              <!-- user_id FIELD -->
              {{ add_new_user_poll_setting_form.user_id(class="form-control" ) }}
              <div id="create-user_id-help" class="form-text">FK</div>
            </div>
          </td>
          <td>
            <div class="mb-3 form-group row">
              <!-- poll_id LABEL -->
              {{ add_new_user_poll_setting_form.poll_id.label(class="form-label")
              }}
              <!-- poll_id FIELD -->
              {{ add_new_user_poll_setting_form.poll_id( class="form-control")}}
              <div id="create-poll_id-help" class="form-text">
                FK
              </div>
            </div>
          </td>
          <td>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_poll_setting_form.user_permissions_collaborator(class="form-check-input", checked="")}}
              <!-- LABEL -->
              {{ add_new_user_poll_setting_form.user_permissions_collaborator.label(name="test", class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_poll_setting_form.user_permissions_poll_creator(class="form-check-input" )}}
              <!-- LABEL -->
              {{ add_new_user_poll_setting_form.user_permissions_poll_creator.label(class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_poll_setting_form.user_permissions_admin(class="form-check-input")}}
              <!-- LABEL -->
              {{ add_new_user_poll_setting_form.user_permissions_admin.label(class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_poll_setting_form.user_permissions_superadmin(class="form-check-input")}}
              <!-- LABEL -->
              {{ add_new_user_poll_setting_form.user_permissions_superadmin.label(class="form-check-label") }}
            </div>
            <div id="add_new_user_poll_setting-help" class="form-text">set</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button name="create-new-add_new_user_poll_setting" type="submit" class="btn btn-primary">Create New Setting</button>
  </form>
</div>
<div>
  <form name="delete-user_poll_setting" method="POST" action="/delete_user_poll_setting">
    {{ delete_user_poll_setting_form.csrf_token }}
    <h3>Delete Setting</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_poll_setting_id</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="mb-3 form-group row">
            <div class="mb-3">
              <!-- user_poll_setting_id LABEL -->
              {{ delete_user_poll_setting_form.user_poll_setting_id.label(class="form-label") }}
              <!-- user_poll_setting_id FIELD -->
              {{ delete_user_poll_setting_form.user_poll_setting_id(class="form-control" ) }}
              <div id="create-setting_id-help" class="form-text">PK</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button name="delete-setting" type="submit" class="btn btn-primary">Delete Setting</button>
  </form>
</div>

{% endblock %}
