{% extends "layout.html" %}{% block content %}

<div class="container">
  <div class="alert alert-light">
    <h1>User_Poll_Settings</h1> 
    <p>represents the information connected between a user and a poll (e.g. access & permissions). This table bridges the M:M relationship between users and polls.</p>
  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">user_poll_setting_id</th>
        <th scope="col">user_id</th>
        <th scope="col">poll_id</th>
        <th
          scope="col"
          data-toggle="tooltip"
          data-placement="top"
          title="User's permissions for poll"
        >
          user_permissions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>3</td>
        <td>4</td>
        <td>[poll creator]</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2</td>
        <td>4</td>
        <td>[collaborator, admin, superadmin]</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>4</td>
        <td>1</td>
        <td>[poll creator]</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>2</td>
        <td>2</td>
        <td>[poll creator, admin, superadmin]</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>1</td>
        <td>2</td>
        <td>[collaborator, admin, superadmin]</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>4</td>
        <td>3</td>
        <td>[poll creator]</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <form>
    <h3>Add New Setting</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_poll_setting_id</th>
          <th scope="col">user_id</th>
          <th scope="col">poll_id</th>
          <th scope="col">user_permissions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><i>auto incremented</i></th>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-create-user-poll-user-id"
                class="form-label mb-3"
                >user_id</label
              >
              <select
                class="form-select"
                id="user-poll-settings-create-user-poll-user-id"
                aria-label="create User ID"
              >
                <option selected>User ID</option>
                <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">User 1</option>
                <!--some such select menus will need a null option, this one does not, as no user-poll will be without a poll-->
                <option value="2">User 2</option>
                <option value="3">User 3</option>
                <option value="4">User 4</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-create-user-poll-poll-id"
                class="form-label mb-3"
                >poll_id</label
              >
              <select
                class="form-select"
                id="user-poll-settings-create-user-poll-poll-id"
                aria-label="create Poll ID"
              >
                <option selected>Poll ID</option>
                <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">Poll 1</option>
                <!--some such select menus will need a null option, this one does not, as no user-poll will be without a poll-->
                <option value="2">Poll 2</option>
                <option value="3">Poll 3</option>
                <option value="4">Poll 4</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-create-user-permissions"
                class="form-label mb-3"
                >user_permissions</label
              >
              <input
                type="text"
                class="form-control"
                id="user-poll-settings-create-user-permissions"
                aria-describedby="create-user-permissions-help"
                placeholder='Ex: "permission 1" AND "permission 2"'
              />
              <!-- not sure what 'type' to use here-->
              <div id="create-user-permissions-help" class="form-text">set</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Create New Setting</button>
  </form>
</div>

<div class="container">
  <form>
    <h3>Delete a Setting</h3>
    <div class="btn-group">
      <!--class button-group changes the width, if theres a better way, you can update this-->
      <select class="form-select" aria-label="Delete User_poll_setting ID">
        <option selected>Setting ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">Setting 1</option>
        <option value="2">Setting 2</option>
        <option value="3">Setting 3</option>
        <option value="4">Setting 4</option>
        <option value="5">Setting 5</option>
        <option value="6">Setting 6</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Delete</button
    ><!--dont know about type here-->
  </form>
</div>

<div class="container">
  <form>
    <h3>Search Setting</h3>
    <div class="btn-group">
      <!--class button-group changes the width of the folllowing selects, if theres a better way, you can update this-->
      <select class="form-select" aria-label="Search Setting ID">
        <option selected>Setting ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">Setting 1</option>
        <option value="2">Setting 2</option>
        <option value="3">Setting 3</option>
        <option value="4">Setting 4</option>
        <option value="5">Setting 5</option>
        <option value="6">Setting 6</option>
      </select>
      <select class="form-select" aria-label="Search Poll ID">
        <option selected>Poll ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">Poll 1</option>
        <option value="2">Poll 2</option>
        <option value="3">Poll 3</option>
        <option value="4">Poll 4</option>
      </select>
      <select class="form-select" aria-label="Search User ID">
        <option selected>User ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">User 1</option>
        <option value="2">User 2</option>
        <option value="3">User 3</option>
        <option value="4">User 4</option>
      </select>
    </div>
    <label for="user-permissions-search">user_permissions: </label>
    <input
      type="text"
      style="display: inline; width: 20%; padding-bottom: 9px"
      class="form-control"
      id="user-permissions-search"
      placeholder='Ex: "permission 1" AND "permission 2"'
    />
    <!-- not sure what 'type' to use here-->
    <!--style part was just to make it inline, if you know a better way you can update, or just add this part to the css-->

    <button type="submit" class="btn btn-primary">Search</button
    ><!--dont know about type here-->
  </form>
</div>

<div class="container">
  <form>
    <h3>Update a Setting</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_poll_setting_id</th>
          <th scope="col">user_id</th>
          <th scope="col">poll_id</th>
          <th scope="col">user_permissions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-update-user-poll-id"
                class="form-label mb-3"
                >select user_poll_setting_id to be updated</label
              >
              <select
                class="form-select"
                id="user-poll-settings-update-user-poll-id"
                aria-label="Update Setting ID"
              >
                <option selected>Setting ID</option>
                <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">Setting 1</option>
                <option value="2">Setting 2</option>
                <option value="3">Setting 3</option>
                <option value="4">Setting 4</option>
                <option value="5">Setting 5</option>
                <option value="6">Setting 6</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-update-user-poll-user-id"
                class="form-label mb-3"
                >update to user_id</label
              >
              <select
                class="form-select"
                id="user-poll-settings-update-user-poll-user-id"
                aria-label="Update User ID"
              >
                <option selected>No Update</option>
                <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">User 1</option>
                <!--some such select menus will need a null option, this one does not, as no user-poll will be without a poll-->
                <option value="2">User 2</option>
                <option value="3">User 3</option>
                <option value="4">User 4</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-update-user-poll-poll-id"
                class="form-label mb-3"
                >update to poll_id</label
              >
              <select
                class="form-select"
                id="user-poll-settings-update-user-poll-poll-id"
                aria-label="Update Poll ID"
              >
                <option selected>No Update</option>
                <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">Poll 1</option>
                <!--some such select menus will need a null option, this one does not, as no user-poll will be without a poll-->
                <option value="2">Poll 2</option>
                <option value="3">Poll 3</option>
                <option value="4">Poll 4</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label
                for="user-poll-settings-update-user-permissions"
                class="form-label mb-3"
                >update to user_permissions</label
              >
              <input
                type="text"
                class="form-control"
                id="user-poll-settings-update-user-permissions"
                aria-describedby="user-permissions-help"
                placeholder='Ex: "permission 1" AND "permission 2"'
              />
              <!-- not sure what 'type' to use here-->
              <div id="user-permissions-help" class="form-text">set</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update Setting</button>
  </form>
</div>

{% endblock %}
