{% extends "layout.html" %} {% block content %}

<!-- START USERS SEARCH/FILTER SCRIPT -->

<script type="text/javascript" language="javascript">
/*
var options = {
  valueNames: [ 'user_id', 'username', 'email_address' ]
};

var userList = new List('users', options);
*/

</script>

<!-- END USERS SEARCH/FILTER SCRIPT -->

<div class="alert alert-light">
  <h1>Users</h1>
  <p>an end user of Votr.</p>
</div>

<!-- START FOR LOOP -->

<div id="users">
  <div class="col-sm-4">
  <input class="search form-control mb-3" placeholder="Search" />
  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">user_id</th>
        <th scope="col">username</th>
        <th scope="col">email_address</th>
        <th
          scope="col"
          data-toggle="tooltip"
          data-placement="right"
          title="User's site-wide permissions"
        >
          site_permissions
        </th>
      </tr>
    </thead>
    <tbody class="list">
      {% for user in all_users %}

      <tr>
        <td scope="row" class="user_id">{{ user["user_id"] }}</td>
        <td class="username">{{ user["username"] }}</td>
        <td class="email_address">{{ user["email_address"] }}</td>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "guest" in user["site_permissions"] %}
            checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              guest
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "user" in user["site_permissions"] %}
            checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              user
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "admin" in user["site_permissions"] %}
            checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              admin
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
            id="flexCheckDefault" {% if "superadmin" in user["site_permissions"]
            %} checked="" {% endif %} disabled />
            <label class="form-check-label" for="flexCheckDefault">
              superadmin
            </label>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<!-- END FOR LOOP -->

<!-- UPDATED ADD NEW USER -->

<div>
  <form name="add-new-user" method="POST" action="/add_new_user">
    {{ add_new_user_form.csrf_token }}
    <h3>Add New User</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_id</th>
          <th scope="col">username</th>
          <th scope="col">email_address</th>
          <th
            scope="col"
            data-toggle="tooltip"
            data-placement="top"
            title="User's site-wide permissions"
          >
            site_permissions
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><i>auto incremented</i></th>
          <td>
            {# TODO: Decide if aria-describedby is useful #} {#
            ####################################### #} {# Old Input:
            <input
              type="text"
              class="form-control"
              id="users-create-username"
              aria-describedby="create-username-help"
              placeholder="Ex: personOne"
            />
            #}
            <div class="mb-3 form-group row">
            <div class="mb-3">
              <!-- USERNAME LABEL -->
              {{ add_new_user_form.username.label(class="form-label") }}
              <!-- USERNAME FIELD -->
              {{ add_new_user_form.username( value="newUserOne", placeholder="Ex: personOne") }}
              <div id="create-username-help" class="form-text">varchar</div>
            </div>
          </td>
          <td>
            <div class="mb-3 form-group row">
              <!-- EMAIL ADDRESS LABEL -->
              {{ add_new_user_form.email_address.label(class="form-label")
              }}
              <!-- EMAIL ADDRESS FIELD -->
              {{ add_new_user_form.email_address( class="form-control", value="newUserOne@emailaddress.com",
              placeholder="Ex: personOne@website.com") }}
              <div id="create-email_address-help" class="form-text">
                varchar
              </div>
            </div>
          </td>
          <td>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_guest(class="form-check-input", checked="")}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_guest.label(name="guest", class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_user(class="form-check-input" )}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_user.label(class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_admin(class="form-check-input")}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_admin.label(class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_superadmin(class="form-check-input")}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_superadmin.label(class="form-check-label") }}
            </div>
            <div id="users-site_permissions-help" class="form-text">set</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button name="create-new-user" type="submit" class="btn btn-primary">Create New User</button>
  </form>
</div>

<!-- END UPDATED ADD NEW USER -->

{#
<div>
  <form>
    <h3>Search Users</h3>
    <div class="btn-group">
      <!--class button-group changes the width of the folllowing selects, if theres a better way, you can update this-->
      <select class="form-select" aria-label="Search User ID">
        <option selected>User ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        {% for user in all_users %}
        <option value="{{ user["user_id"] }}">{{ user["user_id"] }}</option>
        {% endfor %}
      </select>
      <select class="form-select" aria-label="Search Username">
        <option selected>Username</option>
        {% for user in all_users %}
        <option value="{{ user["username"] }}">{{ user["username"] }}</option>
        {% endfor %}
      </select>
      <select class="form-select" aria-label="Search Email Address">
        <option selected>Email</option>
        {% for user in all_users %}
        <option value="{{ user["username"] }}">{{ user["email_address"] }}</option>
        {% endfor %}
      </select>
    </div>
    <!--style part was just to make it inline, if you know a better way you can update, or just add this part to the css-->

    <button type="submit" class="btn btn-primary">Search</button
    ><!--dont know about type here-->
  </form>
</div>
#}


<!-- START NEW SEARCH USERS FORM  -->

<div>
  <form name="find-user-by-id-form" id = "find-user-by-id-form" method="POST" action="/find_user_by_id">
    <h3>Find User By ID</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_id</th>
          <th scope="col">username</th>
          <th scope="col">email_address</th>
          <th
            scope="col"
            data-toggle="tooltip"
            data-placement="top"
            title="User's site-wide permissions"
          >
            site_permissions
          </th>
        </tr>
      </thead>

      <tbody>
        <tr mb-3 form-group row>
          <th scope="row">
          <select class="form-select" id="users-find-by-id-id" name="users-find-by-id-id" aria-label="Search User ID">
        <option selected>User ID</option>
        {% for user in all_users %}
        <option value="{{ user["user_id"] }}">{{ user["user_id"] }}</option>
        {% endfor %}
      </select>
            
          </th>
          <td>
            <div class="mb-3">

        <!-- Username -->
        <input type="text" id="users-find-by-id-username" name="name" class="form-control" size="10" placeholder="Username" readonly>

            </div>
          </td>
          <td>
            <div class="mb-3">
              <input type="text" id="users-find-by-id-email" name="name" class="form-control" size="10" placeholder="Email" readonly>
            </div>
          </td>

          <!-- START NEW SITE PERMISSIONS -->

          <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="users-find-by-id-site-permissions-guest" disabled="">
            <label class="form-check-label" for="flexCheckDefault">
              guest
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="users-find-by-id-site-permissions-user" disabled="">
            <label class="form-check-label" for="flexCheckDefault">
              user
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="users-find-by-id-site-permissions-admin" disabled="">
            <label class="form-check-label" for="flexCheckDefault">
              admin
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="users-find-by-id-site-permissions-superadmin" disabled="">
            <label class="form-check-label" for="flexCheckDefault">
              superadmin
            </label>
          </div>
          </td>
        

<!-- END NEW SITE PERMISSIONS -->
{#
          <td>
            <div class="form-check">
              <!-- FIELD -->
              <input type="checkbox" id="scales" name="search-user-by-id-site-permissions-guest" readonly>
              <!-- LABEL -->
              <label class="form-label form-control" for="email_address">guest</label>
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_user(class="form-check-input" )}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_user.label(class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_admin(class="form-check-input")}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_admin.label(class="form-check-label") }}
            </div>
            <div class="form-check">
              <!-- FIELD -->
              {{add_new_user_form.site_permissions_superadmin(class="form-check-input")}}
              <!-- LABEL -->
              {{ add_new_user_form.site_permissions_superadmin.label(class="form-check-label") }}
            </div>
            <div id="users-site_permissions-help" class="form-text">set</div>
            </div>
          </td>
          #}
        </tr>
      </tbody>
    </table>

    <button id="users-find-by-id-btn" type="submit" class="btn btn-primary">Find User</button>
  </form>
</div>


<!-- END NEW SEARCH USERS FORM -->


{#
<div class="container-narrow">
  <h1 class="mt-5">Create New User</h1>

  <form
    id="createUserForm"
    class="form form-register"
    method="POST"
    action=""
    role="form"
  >
    {{ create_user_form.csrf_token }}
    <div class="form-group">
      {{create_user_form.poll_id.label}}
      {{create_user_form.poll_id(placeholder="poll_id", class_="form-control")}}
    </div>
    <div class="form-group">
      {{create_user_form.user_id.label}}
      {{create_user_form.user_id(placeholder="user_id", class_="form-control")}}
    </div>
    <div class="form-group">
      {{create_user_form.vote_values.label}}
      {{create_user_form.vote_values(placeholder="vote_values",
      class_="form-control")}}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Register" /></p>
  </form>
</div>
#} {% endblock %}
