{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="alert alert-light">
    <h1>Users</h1> 
    <p>an end user of Votr.</p>
  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">user_id</th>
        <th scope="col">username</th>
        <th scope="col">email_address</th>
        <th scope="col">site_permissions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>chonga</td>
        <td>chonga@oregonstate.edu</td>
        <td>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              checked=""
              data-com.bitwarden.browser.user-edited="yes"
            />
            <label class="form-check-label" for="flexCheckDefault">
              guest
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              user
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              admin
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              superadmin
            </label>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Sebastian</td>
        <td>allenseb@oregonstate.edu</td>
        <td>              <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="" data-com.bitwarden.browser.user-edited="yes">
          <label class="form-check-label" for="flexCheckDefault">
            guest
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            user
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            admin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            superadmin
          </label>
        </div></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>guest</td>
        <td>guest@voter.com</td>
        <td>              <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="" data-com.bitwarden.browser.user-edited="yes">
          <label class="form-check-label" for="flexCheckDefault">
            guest
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            user
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            admin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            superadmin
          </label>
        </div></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Buddy Holly</td>
        <td>guest@voter.com</td>
        <td>              <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="" data-com.bitwarden.browser.user-edited="yes">
          <label class="form-check-label" for="flexCheckDefault">
            guest
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            user
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            admin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            superadmin
          </label>
        </div></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <form>
    <h3>Add New User</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_id</th>
          <th scope="col">username</th>
          <th scope="col">email_address</th>
          <th scope="col">site_permissions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><i>auto incremented</i></th>
          <td>
            <div class="mb-3">
              <label for="users-create-username" class="form-label mb-3"
                >username</label
              >
              <input
                type="text"
                class="form-control"
                id="users-create-username"
                aria-describedby="create-username-help"
                placeholder="Ex: personOne"
              />
              <!-- not sure what 'type' to use here-->
              <div id="create-username-help" class="form-text">varchar</div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="users-create-email_address" class="form-label mb-3"
                >email_address</label
              >
              <input
                type="text"
                class="form-control"
                id="users-create-email_address"
                aria-describedby="create-email_address-help"
                placeholder="Ex: personOne@email.com"
              />
              <!-- not sure what 'type' to use here-->
              <div id="create-email_address-help" class="form-text">
                varchar
              </div>
            </div>
          </td>
          <td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="" data-com.bitwarden.browser.user-edited="yes">
                <label class="form-check-label" for="flexCheckDefault">
                  guest
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  user
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  admin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  superadmin
                </label>
              </div>
              <div id="users-site_permissions-help" class="form-text">set</div>
            </td>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Create New User</button>
  </form>
</div>

<div>
  <form>
    <h3>Delete a User</h3>
    <div class="btn-group">
      <!--class button-group changes the width, if theres a better way, you can update this-->
      <select class="form-select" aria-label="Delete User ID">
        <option selected>User ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">User 1</option>
        <option value="2">User 2</option>
        <option value="3">User 3</option>
        <option value="4">User 4</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Delete</button
    ><!--dont know about type here-->
  </form>
</div>

<div>
  <form>
    <h3>Search Users</h3>
    <div class="btn-group">
      <!--class button-group changes the width of the folllowing selects, if theres a better way, you can update this-->
      <select class="form-select" aria-label="Search User ID">
        <option selected>User ID</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">User 1</option>
        <option value="2">User 2</option>
        <option value="3">User 3</option>
        <option value="4">User 4</option>
      </select>
      <select class="form-select" aria-label="Search Username">
        <option selected>Username</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">chonga</option>
        <!--some such select menus will need a null option, this one does not, as no vote will be without a poll-->
        <option value="2">Sebastian</option>
        <option value="3">guest</option>
        <option value="4">Buddy Holly</option>
      </select>
      <select class="form-select" aria-label="Search Email Address">
        <option selected>Username</option>
        <!--i dont know how wer are going to have this automatically populate with the available id's-->
        <option value="1">chonga@oregonstate.edu</option>
        <!--some such select menus will need a null option, this one does not, as no vote will be without a poll-->
        <option value="2">allenseb@oregonstate.edu</option>
        <option value="3">guest@voter.com</option>
        <option value="4">guest@voter.com</option>
      </select>
    </div>
    <label for="site-permissions-search">site_permissions: </label>
    <input
      type="text"
      style="display: inline; width: 20%; padding-bottom: 9px"
      class="form-control"
      id="site-permissions-search"
      placeholder='Ex: "permission 1" AND "permission 2"'
    />
    <!-- not sure what 'type' to use here-->
    <!--style part was just to make it inline, if you know a better way you can update, or just add this part to the css-->

    <button type="submit" class="btn btn-primary">Search</button
    ><!--dont know about type here-->
  </form>
</div>

<div>
  <form>
    <h3>Update a User</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">user_id</th>
          <th scope="col">username</th>
          <th scope="col">email_address</th>
          <th scope="col">site_permissions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="mb-3">
              <label for="users-update-user-id" class="form-label mb-3"
                >select user_id to be updated</label
              >
              <select
                class="form-select"
                id="user-update-user-id"
                aria-label="Update User ID"
              >
                <option selected>User ID</option>
                <!--i dont know how wer are going to have this automatically populate with the available id's-->
                <option value="1">User 1</option>
                <option value="2">User 2</option>
                <option value="3">User 3</option>
                <option value="4">User 4</option>
              </select>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="users-update-username" class="form-label mb-3"
                >update to username</label
              >
              <input
                type="text"
                class="form-control"
                id="users-update-username"
                aria-describedby="update-username-help"
                placeholder="Ex: personOne"
              />
              <!-- not sure what 'type' to use here-->
              <div id="update-username-help" class="form-text">varchar</div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="users-update-email_address" class="form-label mb-3"
                >update to email_address</label
              >
              <input
                type="text"
                class="form-control"
                id="users-update-email_address"
                aria-describedby="update-email_address-help"
                placeholder="Ex: personOne@email.com"
              />
              <!-- not sure what 'type' to use here-->
              <div id="update-email_address-help" class="form-text">
                varchar
              </div>
            </div>
          </td>
          <td>
            <div class="mb-3">
              <label for="users-update-site-permissions" class="form-label mb-3"
                >update to site_permissions</label
              >
              <input
                type="text"
                class="form-control"
                id="users-update-site-permissions"
                aria-describedby="update-site-permissions-help"
                placeholder='Ex: "permission 1" AND "permission 2"'
              />
              <!-- not sure what 'type' to use here-->
              <div id="update-site-permissions-help" class="form-text">set</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update User</button>
  </form>
</div>

<div class="container-narrow">
  <h1 class="mt-5">Create New User</h1>

  <form
    id="createUserForm"
    class="form form-register"
    method="POST"
    action=""
    role="form"
  >
    {{ create_user_form.csrf_token }}
    <div class="form-group">
      {{create_user_form.poll_id.label}}
      {{create_user_form.poll_id(placeholder="poll_id", class_="form-control")}}
    </div>
    <div class="form-group">
      {{create_user_form.user_id.label}}
      {{create_user_form.user_id(placeholder="user_id", class_="form-control")}}
    </div>
    <div class="form-group">
      {{create_user_form.vote_values.label}}
      {{create_user_form.vote_values(placeholder="vote_values",
      class_="form-control")}}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Register" /></p>
  </form>
</div>
{% endblock %}
