{% extends "layout.html" %} {% block content %}

<div class="container">
  <div class="alert alert-light">
    <h1>Votes</h1> 
    <p>a vote made by an end user of Votr in a poll.</p>
  </div>
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">vote_id</th>
            <th scope="col">poll_id</th>
            <th scope="col">user_id</th>
            <th scope="col">vote_values</th>
          </tr>
        </thead>
        <tbody>
          {% for vote in all_votes %}

          <tr>
            <th scope="row">{{ vote["vote_id"] }}</th>
            <td>{{ vote["poll_id"] }}</td>
            <td>{{ vote["user_id"] }}</td>
            <td>{{ vote["vote_values"] }}</td>
          </tr>
    
          {% endfor %}
        </tbody>
      </table>
    </div>

<div>
  <form name="add-new-vote" method="POST" action="/add_new_vote">
    {{ add_new_vote_form.csrf_token }}
    <h3>Add New Vote</h3>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">vote_id</th>
          <th scope="col">user_id</th>
          <th scope="col">poll_id</th>
          <th scope="col">vote_values</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row"><i>auto incremented</i></th>
          <td>
            <div class="mb-3 form-group row">
            <div class="mb-3">
              <!-- user_id LABEL -->
              {{ add_new_vote_form.user_id.label(class="form-label", value="1") }}
              <!-- user_id FIELD -->
              {{ add_new_vote_form.user_id(class="form-control" ) }}
              <div id="create-user_id-help" class="form-text">FK</div>
            </div>
          </td>
          <td>
            <div class="mb-3 form-group row">
            <div class="mb-3">
              <!-- poll_id LABEL -->
              {{ add_new_vote_form.poll_id.label(class="form-label") }}
              <!-- poll_id FIELD -->
              {{ add_new_vote_form.poll_id(class="form-control" ) }}
              <div id="create-poll_id-help" class="form-text">FK</div>
            </div>
          </td>
          <td>
            <div class="mb-3 form-group row">
            <div class="mb-3">
              <!-- vote_values LABEL -->
              {{ add_new_vote_form.vote_values.label(class="form-label") }}
              <!-- vote_values FIELD -->
              {{ add_new_vote_form.vote_values(class="form-control", placeholder="Ex: 	{\"option1\": o1_value, \"option2\": o2_value, \"option3\": o3_value") }}
              <div id="create-vote_values-help" class="form-text">JSON Object</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button name="create-new-vote" type="submit" class="btn btn-primary">Create New Vote</button>
  </form>
</div>

      {% endblock %}
